footer.footer
    .container 
        .inner-footer
            .left_wrapper
                span
                    a(href="https://github.com/eloraa/webpack-express-boilerplate") Source Code

            .right_wrapper
                span Designed By 
                    strong Neon
