.clr_h
header.header
    .container 
        .inner-header
            h1.logo
                a(href="/") 
                    span.logo-path
                        img(src="./static/logo.svg")
        
            .right_wrapper
                span
                    a(href="/about") About
